@model Music_player.Models.FilesViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    var musicAmount = 0;

    musicAmount = @Model.Files.Count;
</script>
<script src="~/js/site.js" asp-append-version="true"></script>


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a062562745.js" crossorigin="anonymous"></script>
    <title>MP3 Player</title>
</head>
<body>


    <audio id="myAudio" ontimeupdate="onTimeUpdate()">
        <source id="source-audio" src="" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>


    <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
        <button onclick="playmusic"></button>
    </form>
    <div class="player-ctn">
        <p1 style="color:#759cd8"><centre>List of Audio</centre> </p1>
            <div class="title"></div>
        <div class="playlist-ctn">
            @foreach (var music in Model.Files)
            {
                <div class="playlist-track-ctn" id="ptc-@music.Id" data-index="@music.Id">
                    <label class="playlist-info-track">
                        @music.Name
                    </label>                   
                    <audio controls>
                        <source src="@music.Path" type="audio/mpeg">
                    </audio>
                </div>
            }
        </div>
    </div>

</body>
</html>


<div class="text-left">
    <form method="post" enctype="multipart/form-data" action="/Home/Upload">
        <input type="file" name="file" multiple />
        <button type="submit">Upload</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" style="margin-top:50px">
            @ViewBag.Message
        </div>
    }

    <p style="margin-top: 50px">List of Files</p>

    <ul>
        @foreach (var item in Model.Files)
        {
            <li>
                <a asp-action="Download"
               asp-route-filename="@item.Name">
                    @item.Name
                </a>
            </li>
        }
    </ul>

</div>